<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%= planet.name %></title>
  </head>

  <body>
    <h1>Edit <%= planet.name %></h1>
    <form action="/planets/<%= planet._id %>?_method=PUT" method="POST">
      <label for="name">Name:</label>
      <input
        type="text"
        name="name"
        id="name"
        value="<%= planet.name %>"
        required
      />
      <br />
      <label for="description">Description:</label>
      <input
        type="text"
        name="description"
        id="description"
        value="<%= planet.description %>"
        required
      />
      <br />
      <label for="image">Image URL:</label>
      <input type="text" name="image" id="image" value="<%= planet.image %>" />
      <br />
      <button type="submit">Update Planet</button>
    </form>
    <a href="/planets">Back to Home</a>
  </body>
</html>
