<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planets App</title>
  </head>
  <body>
    <h1>Welcome to the Planets app.</h1>
    <p>An app for collecting your favorite Planets.</p>
    <ul>
      <% planets.forEach((planet) => { %>
      <li>
        <strong><%= planet.name %></strong> - <%= planet.description %>

        <a href="/planets/<%= planet._id %>">View</a>
        <a href="/planets/<%= planet._id %>/edit">Edit</a>
        <form action="/planets/<%= planet._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>
    <a href="/planets/new">Add a Planet</a>
  </body>
</html>
